@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --cell-size: 33px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.board-container {
  display: grid;
  width: 330px;
  height: 330px;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.battlefield-cell {
  border: 1px solid rgb(151, 151, 151);
}

.droppable-cell {
  z-index: 0;
}

.droppable {
  background-color: green;
}

.board-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20vh 0;
}

.letters {
  position: absolute;
  margin-top: -20px;
  margin-left: 9px;
}

.numbers {
  position: absolute;
  margin-left: -15px;
  margin-top: 6px;
}

.horizontal-4 {
  width: calc(var(--cell-size) * 4);
  height: var(--cell-size);
  background-color: blue;
}

.horizontal-3 {
  width: calc(var(--cell-size) * 3);
  height: var(--cell-size);
  background-color: blue;
}
.horizontal-2 {
  width: calc(var(--cell-size) * 2);
  height: var(--cell-size);
  background-color: blue;
}

.horizontal-1 {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: blue;
}

.vertical-4 {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 4);
  background-color: blue;
}
.vertical-3 {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 3);
  background-color: blue;
}
.vertical-2 {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 2);
  background-color: blue;
}

.vertical-1 {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: blue;
}

